.app {
  width: 87%;
  margin: auto;
  position: relative;
}

.header-nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  /* position: sticky !important;
  z-index: 2;
  top: 0;
  left: 0; */
  background: #fff;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}